.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ModalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AddNewUserForm {
  display: flex;
  flex-direction: column;
}
