.MainInputDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.TableDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  /* background-color: orange; */
  border-radius: 5px;
  margin: 20px;
}
.Table {
  background-color: rgb(222, 222, 222);
  margin: 20px 15px;
}
.TableTitle {
  margin: 0;
  font-weight: bold;
  font-size: 16;
}
.TableItem {
  margin: 10px 0 0 0;
  font-weight: normal;
  font-size: 14;
}
.Datas {
  display: flex;
  flex-direction: row;
}
.Buttons {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  margin-right: 20px;
}
